<h1 class="md-padding" ng-cloak>{{title}}</h1>
<br/>

<label for="sorter"> Sort By: </label>
<select name="sorter" ng-model="sorter">
  <option value="">None</option>
  <option value="priceNum">Price Low - High</option>
  <option value="-priceNum">Price High - Low</option>
  <option value="dataSize">Data Plan Size Low - High</option>
  <option value="-dataSize">Data Plan Size High - Low</option>
</select>
<label for="contractType"> Filter By Contract Type: </label>
<select name="contractType" ng-model="contractType">
  <option value="">All</option>
  <option value="Prepaid">Prepaid</option>
  <option value="No Contract">No Contract</option>
</select>
<!-- <md-input-container>
  <label>Carrier Name</label>
  <md-select ng-model="carrierName">
    <md-option value="">All</md-option>
    <md-option value="tmo">T-Mobile</md-option>
    <md-option value="att">AT&T</md-option>
    <md-option value="vzw">Verizon</md-option>
  </md-select>
</md-input-container> -->
<label for="carrierName"> Filter By Carrier: </label>
<select name="carrierName" ng-model="carrierName">
  <option value="">All</option>
  <option value="tmo">T-Mobile</option>
  <option value="att">AT&T</option>
  <option value="vzw">Verizon</option>
</select>
<br/>

<plan-block ng-repeat='plan in plans | orderBy: sorter | filter: contractType | filter: carrierName'></plan-block>
